<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilos-2.css">
    <title>Universal</title>

</head>
<body>

    <!-- header section -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class='bx bx-menu bar-menu'></label>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="Cargadores.html">Cargadores</a>
            <a href="../Accesorios/accesorios.html">Accesorios</a>
            <a href="../Cables/Cables.html">Cables/Adaptadores</a>
            
        </nav>
    </header>
    <!-- header section end-->

    
<br>
<br>
<br>
<br>
<br>

<!-- productos -->

<section>
    <div class="box-container"> 

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Unitec</h3>
                <div class="price">$48.900 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador2.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Neotek</h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador3.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Diamond</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador6.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Acer basico</h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador7.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador HP punta azul</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador8.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Asus vivobook</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador9.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Lenovo</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador10.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Toshiba</h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador11.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador HP Mini</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador12.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Dell </h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador13.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Dell Punta de aguja </h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        
        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador14.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador HP Punta de aguja </h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador15.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador HP Punta Amarilla </h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>
        
        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador16.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador lenovo USB Gamer </h3>
                <div class="price">$150.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador17.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador lenovo punta usb </h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador18.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Universal targus </h3>
                <div class="price">$95.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador19.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Toshiba 15v a 4a </h3>
                <div class="price">$65.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador20.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Macbook tipo c </h3>
                <div class="price">$195.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador21.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Lenovo tipo C </h3>
                <div class="price">$125.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador22.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Mcbook safe 1</h3>
                <div class="price">$185.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador23.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Mcbook safe 2</h3>
                <div class="price">$195.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador24.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador HP spectre</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cargador/cargador25.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cargador Acer Nitro</h3>
                <div class="price">$150.000 <span></span></div>  
            </div>
        </div>

    <div class="scroll-top-btn">
        <button onclick="scrollToTop()"><i class='bx bxs-up-arrow'></i></button>
    </div>
    

    </section>

    <!-- productos end -->


</body>
<script src="../js/Scroll.js"></script>

</html>
