<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/estilos-2.css">
    <title>Universal</title>

</head>

<body>

    <header class="hero">
        <nav class="nav_hero">
            <div class="container nav_container">
                <div class="logo">
                    <img src="img/" alt="">
                </div>

                <div class="links">
                    <a href="../Remake/index.html" class="link link--active">Inicio</a>
                </div>
            </div>
        </nav>

<div class="container">
    
    <div class="Target">
            <img src="../img/intel.jpg" alt="">
            <div class="content">
                <h2>Intel Core i5</h2>
                <a href="CPU-info.html">Ver mas</a>
            </div>
        </div>

        <div class="Target">
            <img src="../img/intel2.jpg" alt="">
            <div class="content">
                <h2>Intel Core i7</h2>
                <a href="CPU-info2.html">Ver mas</a>
            </div>
        </div>

        <div class="Target">
            <img src="../img/intel3.jpg" alt="">
            <div class="content">
                <h2>Intel Core i9</h2>
                <a href="CPU-info3.html">Ver mas</a>
            </div>
        </div>

        <div class="Target">
            <img src="../img/Ryzen2.jpg" alt="">
            <div class="content">
                <h2>AMD Ryzen 5</h2>
                <a href="CPU-info4.html">Ver mas</a>
            </div>
        </div>

        <div class="Target">
            <img src="../img/Ryzen3.jpg" alt="">
            <div class="content">
                <h2>AMD Ryzen 7</h2>
                <a href="CPU-info5.html">Ver mas</a>
            </div>
        </div>

        <div class="Target">
            <img src="../img/Ryzen4.jpg" alt="">
            <div class="content">
                <h2>AMD Ryzen 9</h2>
                <a href="CPU-info6.html">Ver mas</a>
            </div>
        </div>
</div>

</body>

</html>
