<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilos-2.css">
    <title>Universal</title>

</head>
<body>

    <!-- header section -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class='bx bx-menu bar-menu'></label>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="../Cargadores/Cargadores.html">Cargadores</a>
            <a href="../Accesorios/accesorios.html">Accesorios</a>
            <a href="../Cables/Cables.html">Cables/Adaptadores</a>
            
        </nav>
    </header>
    <!-- header section end-->

    <!-- productos -->
<br>
<br>
<br>
<br>
<br>

<section>
    <div class="box-container"> 

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cable HDMI-15M de largo</h3>
                <div class="price">$40.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Cables/cable2.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cable De Red 2 Metros </h3>
                <div class="price">$7.900<span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta2.jpg" alt="">
            </div>

            <div class="content">
                <h3>Cable convertidor HDMI</h3>
                <div class="price">$38.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta3.jpg" alt="">
            </div>

            <div class="content">
                <h3>Convertidor Adaptador Display </h3>
                <div class="price">$38.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta4.jpg" alt="">
            </div>

            <div class="content">
                <h3>Adaptador-Wifi-Usb</h3>
                <div class="price">$35.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Usb/usb1.jpg" alt="">
            </div>

            <div class="content">
                <h3>USB-Kingston-32GB</h3>
                <div class="price">$32.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Usb/usb3.jpg" alt="">
            </div>

            <div class="content">
                <h3>Lector interno de memoria</h3>
                <div class="price">$20.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta5.jpg" alt="">
            </div>

            <div class="content">
                <h3>UBS Multiplicador 4 Puertos</h3>
                <div class="price">$43.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta6.jpg" alt="">
            </div>

            <div class="content">
                <h3>Convertidor Adaptador USB</h3>
                <div class="price">$40.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta7.jpg" alt="">
            </div>

            <div class="content">
                <h3>Video Converter Adapter Full HD 1080p </h3>
                <div class="price">$35.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta8.jpg" alt="">
            </div>

            <div class="content">
                <h3>Wireless-N Router </h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta9.jpg" alt="">
            </div>

            <div class="content">
                <h3>Wireless-N Adapter </h3>
                <div class="price">$45.000<span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta10.jpg" alt="">
            </div>

            <div class="content">
                <h3>USB Dongle Bluetooth 5.0</h3>
                <div class="price">$30.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Adaptador/adapta11.jpg" alt="">
            </div>

            <div class="content">
                <h3>Puntero Laser Presentador Dm Pp-1000 Negro</h3>
                <div class="price">$85.000 <span></span></div>  
            </div>
        </div>


        

        
    </div>

    <div class="scroll-top-btn">
        <button onclick="scrollToTop()"><i class='bx bxs-up-arrow'></i></button>
    </div>

    </section>

    <!-- productos end -->


</body>

<script src="../js/Scroll.js"></script>


</html>
