<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilos-2.css">
    <title>Universal</title>

</head>
<body>

    <!-- header section -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class='bx bx-menu bar-menu'></label>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="../Cargadores/Cargadores.html">Cargadores</a>
            <a href="../Accesorios/accesorios.html  ">Accesorios</a>
            <a href="../Cables/Cables.html">Cables/Adaptadores</a>
        </nav>
    </header>
    <!-- header section end-->

    <!-- productos -->
<br>
<br>
<br>
<br>
<br>

<section>
    <div class="box-container"> 

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-vertical/mouse1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Vertical</h3>
                <div class="price">$35.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Kaku/mouse1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse-Kaku</h3>
                <div class="price">$14.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-optical/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Óptico Usb</h3>
                <div class="price">$15.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Alambrico/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Gamer</h3>
                <div class="price">$38.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-gamer-optico/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Gamer Optico</h3>
                <div class="price">$20.000 <span></span></div>
            </div>
        </div>

        
        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Comodo/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Inalámbrico</h3>
                <div class="price">$42.000 <span></span></div>
            </div>
        </div>
        
        
    </div>

    </section>

    <!-- productos end -->


</body>

</html>
