body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/fondo6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


.container {
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

h2 {
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.link-container {
    margin-top: 10px;
}

.link-container a {
    color: #007bff;
    text-decoration: none;
}

.link-container a:hover {
    text-decoration: underline;
}


.error-message {
    background-color: #ff4d4d; /* Color de fondo rojo */
    color: #fff; /* Color del texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Texto en negrita */
}
