<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>UCS-Universal</title>
</head>
<body>

    <a href="https://api.whatsapp.com/send?phone=%2B573107505753&data=ARDA9I54smeoYU9vT8Lj4DrOFo43QEOrPlaxvFhu7-4tV2LbwZh-WB2WKjdh2tuL6fEIKWVNEFXNfnXZ70WNQS4QxvtJAa-wN6LJpFCLxEEc4d1OwKr1ikn4mKRCvNFDyOSi8UhY1NZSiBj84qUxhc44Ug&source=FB_Page&app=facebook&entry_point=page_cta" class="btn-wsp" target="_blank">
        <i class='bx bxl-whatsapp'></i>
    </a>
    
    <a href="https://www.facebook.com/ucs.universalcompanysistem?mibextid=9R9pXO" class="btn-face" target="_blank">
        <i class='bx bxl-facebook'></i>
    </a>

    <header class="header" id="Inicio">
        <i class='bx bx-menu-alt-right hamburguer' ></i>
        <nav class="menu-navegacion">
            <a href="#Inicio" class="nav-buttom">Inicio</a>
            <a href="#Servicio" class="nav-buttom">Servicio</a>
            <a href="#Productos" class="nav-buttom">Productos</a>
            <a href="#Expertos" class="nav-buttom">Expertos</a>
            <a href="Cables/Cables.html" class="nav-buttom">Cables/Adaptadores</a>
            <a href="Cargadores/Cargadores.html" class="nav-buttom">Cargadores</a>
            <a href="Accesorios/accesorios.html" class="nav-buttom">Accesorios</a>
            <a href="Login-Register/login.php" class="nav-buttom">Distribuidores</a>
            <a href="#Contacto" class="nav-buttom">Contacto</a>
            
        </nav>

        <div class="contenedor head">
            <h1 class="titulo">Estamos aquí para ayudarte a encontrar lo que necesitas.</h1>
            <p class="typing-demo">UCS-Universal a tu Servicio</p>
        </div>
    </header>

    <main>
        <section class="contenedor" id="Servicio">
            <h2 class="subtitulo">Nuestros servicios</h2>
            <div class="contenedor-servicio">
                <img src="img/fondo.png" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Reparación de Hardware</h3>
                        <p>Nuestros expertos en hardware están listos para solucionar cualquier problema que tenga tu computadora. Ya sea que necesites una nueva tarjeta gráfica, una fuente de poder o una placa madre, estamos aquí para ayudarte.</p>
                    </div>
                    
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Eliminación de Virus y Malware</h3>
                        <p>Protege tu computadora de virus y malware. Utilizamos las últimas herramientas y técnicas para eliminar cualquier amenaza y asegurarnos de que tu sistema esté limpio y seguro.</p>
                    </div>
                    
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Actualización de Software</h3>
                        <p>Mantén tu software al día para un rendimiento óptimo. Actualizamos tus programas y sistemas operativos para asegurarnos de que funcionen sin problemas y estén protegidos contra vulnerabilidades.</p>
                    </div>                    
                </div>
            </div>
        </section>

        <section class="gallery" id="Productos">
            <div class="contenedor">
                <h2 class="subtitulo">Memorias Ram:</h2>
                <div class="contenedor-galeria">
                    <!-- Uso de figuras para cada imagen -->
                    <figure class="galeria-item">
                        <img src="img/Rams/DDR3-4gb-pc/Ram1.jpg" alt="RAM DDR3 4GB PC" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Rams/DDR4-8gb-pc/ram2.jpg" alt="RAM DDR4 8GB PC" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Rams/DDR3-4gb-portatil/ram1.jpg" alt="RAM DDR3 4GB Portátil" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Rams/DDR3-4gb-pc/Ram2.jpg" alt="RAM DDR3 4GB PC" class="img-galeria">
                    </figure>
                    
                    <figure class="galeria-item">
                        <img src="img/Rams/DDR4-8gb-pc/ram1.jpg" alt="RAM DDR4 8GB PC" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Rams/DDR4-8GB-Portatil/ram2.jpg" alt="RAM DDR4 8GB Portátil" class="img-galeria">
                    </figure> 
            

            </div>
                <a href="Memory-ram/Rams.html" class="button"> <span>Ver precios</span></a>
            </div>

            <div class="contenedor">
                <h2 class="subtitulo">Discos Duros:</h2>
                <div class="contenedor-galeria">
                    <figure class="galeria-item">
                        <img src="img/Discos/Samsung-SDD-2TB/disco2.jpg" alt="" class="img-galeria">
                    </figure>
                    
                    <figure class="galeria-item">
                        <img src="img/Discos/SSD-1TB/Disco3.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Discos/SSD-240GB/Disco2.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Discos/HDD-1TB/Disco1.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Discos/SSD PNY/Disco2.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img/Discos/SSD-Corsair/Disco2.jpg" alt="" class="img-galeria">
                    </figure>

            </div>
                <a href="Discos/Discos.html" class="button">Ver precios</a>
            </div>


            <div class="contenedor">
                <h2 class="subtitulo">Gabinetes:</h2>
                <div class="contenedor-galeria">

                <figure class="galeria-item">
                        <img src="img/Gabinetes/Gabinete/gabin1.jpg" alt="" class="img-galeria">
                </figure>    

                <figure class="galeria-item">
                    <img src="img/Gabinetes/Gabinete-2/gabin1.jpg" alt="" class="img-galeria">
                </figure>

                <figure class="galeria-item">
                    <img src="img/Gabinetes/Gabinete-3/gabin1.jpg" alt="" class="img-galeria">
                </figure>

                <figure class="galeria-item">
                    <img src="img/Gabinetes/Gabinete-4/gabin1.jpg" alt="" class="img-galeria">
                </figure>

            </div>
                <a href="Gabinetes/Gabinete.html" class="button">Ver precios</a>
            </div>

            <div class="contenedor">
                <h2 class="subtitulo">Fuente de poder:</h2>
                <div class="contenedor-galeria">
                    <figure class="galeria-item">
                        <img src="img/Fuentes de poder/Fuente.jpg" alt="" class="img-galeria">
                    </figure>

            </div>
                <a href="Fuentes de poder/fuentes-poder.html" class="button">Ver precios</a>
            </div>

            <div class="contenedor">
                <h2 class="subtitulo">Mouse:</h2>
                <div class="contenedor-galeria">

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-gamer-optico/mouse.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-Comodo/mouse.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-vertical/mouse1.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-Alambrico/mouse.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-Kaku/mouse1.jpg" alt="" class="img-galeria">
                    </figure>

                    <figure class="galeria-item">
                        <img src="img//Mouses/Mouse-optical/mouse.jpg" alt="" class="img-galeria">
                    </figure>

            </div>
                <a href="Mouse/Mouse.html" class="button">Ver precios</a>
            </div>

        </section>

        <section class="imagen-light">
            <i class='bx bxs-tag-x close'></i>
            <img src="../img/Ram1.jpg" alt="" class="agregar-imagen">
        </section>    


        <section class="container-expert" id="Expertos">
            <h2 class="subtitulo">Expertos en:</h2>
            <section class="experts">
                <div class="cont-experts">
                    <img src="img/fondo3.png" alt="">
                    <h3 class="n-expert">Trabajo en equipo</h3>
                </div>

                <div class="cont-experts">
                    <img src="img/fondo4.png" alt="">
                    <h3 class="n-expert">Servicio tecnico</h3>
                </div>

                <div class="cont-experts">
                    <img src="img/fondo5.png" alt="">
                    <h3 class="n-expert">Diseño 3D</h3>
                </div>
            </section>
        </section>
        
</main>

    

    <footer id="contacto">
        
        <div class="contenedor footer-content" id="Contacto">
            <div class="contact-us">
                <h2 class="brand">UCS-Universal</h2>
                <p>Expertos en trabajo en equipo</p>
                    <p>Telefono: 310-705753</p>
                    <p>Direccion: Cra. 4 #936, Neiva, Huila</p>
            </div>
            
        </div>
        <div class="line">
        </div>
    </footer>

    <!-- <div class="loader-container">
        <img src="../img/Loader.gif" alt="">
    </div> -->

    <script src="js/menu.js"></script>
    <script src="js/java.js"></script>

</body>


</html>
