<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilos-2.css">
    <title>Universal</title>

</head>
<body>

    <!-- header section -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class='bx bx-menu bar-menu'></label>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="../Cargadores/Cargadores.html">Cargadores</a>
            <a href="accesorios.html">Accesorios</a>
            <a href="../Cables/Cables.html">Cables/Adaptadores</a>
        </nav>
    </header>
    <!-- header section end-->

    
<br>
<br>
<br>
<br>
<br>

<!-- productos -->

<section>
    <div class="box-container"> 

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Fan-cooler/Fan-cooler1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Ventiladores PRISMATIC RGB</h3>
                <div class="price">$150.000 <span></span></div>
            </div>
        </div>

            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                    <div class="image">
                    <img src="../img/Accesorios/Audifonos/audi2.jpg" alt="">
                </div>
    
                <div class="content">
                    <h3>Audifonos-Jedel</h3>
                    <div class="price">$140.000 <span></span></div>
                </div>
            </div>

            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                    <div class="image">
                    <img src="../img/Accesorios/Audifonos/audi1.jpg" alt="">
                </div>
    
                <div class="content">
                    <h3>Audifonos Gamer-AAA 601 </h3>
                    <div class="price">$70.000 <span></span></div>
                </div>
            </div>
    
            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                    <div class="image">
                    <img src="../img/Accesorios/Audifonos/audi3.jpg" alt="">
                </div>
    
                <div class="content">
                    <h3>Audifonos Gamer-AAA 401 </h3>
                    <div class="price">$55.000 <span></span></div>
                </div>
            </div>

            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                    <div class="image">
                    <img src="../img/Accesorios/Audifonos/audi4.jpg" alt="">
                </div>
    
                <div class="content">
                    <h3>Diadema Gamer Unitec K13 </h3>
                    <div class="price">$75.000 <span></span></div>
                </div>
            </div>

            <div class="box">
                <!-- <span class="discount">-10%</span> -->
                    <div class="image">
                    <img src="../img/Accesorios/Audifonos/audi5.jpg" alt="">
                </div>
    
                <div class="content">
                    <h3>Audifonos-Gamer</h3>
                    <div class="price">$80.000 <span></span></div>
                </div>
            </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Parlantes/parlantes1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Parlantes Unitec</h3>
                <div class="price">$75.000 <span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Parlantes/parlantes3.jpg" alt=""> 
            </div>

            <div class="content">
                <h3>Parlantes Jedel</h3>
                <div class="price">$20.000 <span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Parlantes/parlantes5.jpg" alt=""> 
            </div>

            <div class="content">
                <h3>Barra de sonido Moxom</h3>
                <div class="price">$75.000 <span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Parlantes/parlantes2.jpg" alt=""> 
            </div>

            <div class="content">
                <h3>Parlantes USB-multimedia</h3>
                <div class="price">$75.000 <span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Teclados/teclado4.jpg" alt="">
            </div>

            <div class="content">
                <h3>Combo Mouse Y Teclado Gamer</h3>
                <div class="price">$120.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Microfono/microfo1.jpg" alt=""> 
            </div>

            <div class="content">
                <h3>Microfono-PC/Portatil</h3>
                <div class="price">$30.000<span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span>  -->
                <div class="image">
                <img src="../img/Accesorios/Multiconector/multiconec1.jpg" alt=""> 
            </div>

            <div class="content">
                <h3>Multiconector</h3>
                <div class="price">$75.000 <span></span></div>
            </div> 
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-vertical/mouse1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Vertical</h3>
                <div class="price">$35.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-optical/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Óptico Usb</h3>
                <div class="price">$15.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Alambrico/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Gamer</h3>
                <div class="price">$38.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-gamer-optico/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Gamer Optico</h3>
                <div class="price">$20.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Comodo/mouse.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse Mouse Inalámbrico</h3>
                <div class="price">$42.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Mouses/Mouse-Kaku/mouse1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mouse-Kaku</h3>
                <div class="price">$55.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Bases-portatil/Refri1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Base Refrigerante A3</h3>
                <div class="price">$120.000 <span></span></div>
            </div>
        </div>


        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Bases-portatil/Refri2.jpg" alt="">
            </div>

            <div class="content">
                <h3>Base Refrigerante</h3>
                <div class="price">$45.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Bases-portatil/Refri3.jpg" alt="">
            </div>

            <div class="content">
                <h3>Base Refrigerante 6 Ventiladores</h3>
                <div class="price">$95.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Bases-portatil/Refri4.jpg" alt="">
            </div>

            <div class="content">
                <h3>Base Refrigerante Gamer</h3>
                <div class="price">$140.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Mousepad/mousepad1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Mousepad-900 mm x 400 mm</h3>
                <div class="price">$60.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Fundas/funda1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Fundas de 12 a 15 pulgadas</h3>
                <div class="price">$25.000/$35.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/UPS/UPS.jpg" alt="">
            </div>

            <div class="content">
                <h3>UPS INTERACTIVA 1200 LED 800VA GS</h3>
                <div class="price">$290.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/UPS/UPS2.jpg" alt="">
            </div>

            <div class="content">
                <h3>UPS Interactiva Led UNITEC 850 (600va)</h3>
                <div class="price">$285.000 <span></span></div>  
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Accesorios/Box-Gamer/gamer.jpg" alt="">
            </div>

            <div class="content">
                <h3>Consola Portatil</h3>
                <div class="price">$75.000 <span></span></div>  
            </div>
        </div>
        
    </div>

    <div class="scroll-top-btn">
        <button onclick="scrollToTop()"><i class='bx bxs-up-arrow'></i></button>
    </div>
    

    </section>

    <!-- productos end -->


</body>
<script src="../js/Scroll.js"></script>

</html>
