<!DOCTYPE html>
<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilos-2.css">
    <title>Universal</title>

</head>
<body>

    <!-- header section -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class='bx bx-menu bar-menu'></label>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="../Cargadores/Cargadores.html">Cargadores</a>
            <a href="../Accesorios/accesorios.html  ">Accesorios</a>
            <a href="../Cables/Cables.html">Cables/Adaptadores</a>
        </nav>
    </header>
    <!-- header section end-->

    <!-- productos -->
<br>
<br>
<br>
<br>
<br>

<section>
    <div class="box-container"> 

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/HDD-1TB/Disco1.jpg" alt="">
            </div>

            <div class="content">
                <h3>Seagate Disco HDD-1TB</h3>
                <div class="price">$120.000 <span>$150.000</span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/Samsung-SDD-2TB/disco1.jpg" alt="">
            </div>

            <div class="content">
                <h3>SSD-Samsung-2TB</h3>
                <div class="price">$537.300 <span>$597.000</span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/SSD-240GB/Disco1.jpg" alt="">
            </div>

            <div class="content">
                <h3>SSD-Kingston-240GB</h3>
                <div class="price">$81.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/SSD-Corsair/Disco2.jpg" alt="">
            </div>

            <div class="content">
                <h3>SSD-Neutron-128GB</h3>
                <div class="price">$81.000 <span>$90.000</span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/SSD PNY/Disco2.jpg" alt="">
            </div>

            <div class="content">
                <h3>SSD-PNY-480GB</h3>
                <div class="price">$102.000 <span></span></div>
            </div>
        </div>

        <div class="box">
            <!-- <span class="discount">-10%</span> -->
                <div class="image">
                <img src="../img/Discos/SSD-1TB/Disco2.jpg" alt="">
            </div>

            <div class="content">
                <h3>SSD-Patriot-1TB</h3>
                <div class="price">$200.000 <span></span></div>
            </div>
        </div>
        
    </div>

    </section>

    <!-- productos end -->


</body>

</html>
